<div class="block">
    
      
		
  <div >

      <a href="{{oneuserData.html_url}}">Home</a><br/><br/>
      <a href="{{oneuserData.url}}"><img src="{{oneuserData.avatar_url}}"width="60px;"/><br/>
      &emsp;{{oneuserData.login}}  &emsp; id: {{oneuserData.id}}
      </a>
      
         <br/>
    
    </div>

    <div class="block">
   	 	node_id: {{oneuserData.node_id}}<br/><br/>

    	score : {{oneuserData.score}}<br/><br/>
    	gravatar_id:<br/>
    	<br/>
    	<div class="data">
    	<label><a href="{{oneuserData.followers_url}}">followers</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    	<a href="{{oneuserData.following_url}}">following</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    	<a href="{{oneuserData.gists_url}}">gists</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    	<a href="{{oneuserData.starred_url}}">starred</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    	<br/>
    	<br/>
    	<a href="{{oneuserData.subscriptions_url}}">subscriptions</a>&emsp;&emsp;&emsp;&emsp;&emsp;
    	<a href="{{oneuserData.organizations_url}}">organizations</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    	<a href="{{oneuserData.repos_url}}">repositories</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    	<br/>
    	<br/>
    	<a href="{{oneuserData.events_url}}">events</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    	<a href="{{oneuserData.received_events_url}}">received_events</a></label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    	<br/><br/>

    	type : {{oneuserData.type}}<br/>
    	<br/>
    	site_admin: {{oneuserData.site_admin}}
    	</div>
  	</div>


</div>