  


  <div class="w3-container" >

<input type="text" ng-model="test">
<button>search</button>


  <div class="row;w3-card w3-yellow" >
  <div class="col-lg-12">
    
    <div   ng-repeat="oneGithub in githubData|filter:test" ng-click="showUser(oneGithub)">
     <div class="responsive" ng-click=userData(oneGithub)>
      <img ng-src="{{oneGithub.avatar_url}}" width="60px;">
    
      {{oneGithub.login}} (id:{{oneGithub.id}})
        </div>
        </div>

      </div>
   </div>   
</div>
</div>